@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-black font-sans;
  }
}

.bg-dots {
  background-image: radial-gradient(circle at 1px 1px, #000 1px, transparent 0);
  background-size: 15px 15px;
}

@layer utilities {
  .shadow-retro-lg {
    box-shadow: 8px 8px 0px #000;
  }
  .shadow-retro-sm {
    box-shadow: 4px 4px 0px #000;
  }
}